﻿@{
    ViewData["Title"] = "Home Page";
}
@model SubscriptionViewModel
<div class="text-center">
    <h1 class="display-4">Choose a plan</h1>
</div>
@using (Html.BeginForm("Silver", "Subscription", FormMethod.Post, new { @id = "silverForm", role = "form" }))
{
    <div class="mb-3">
        <button type="submit" id="silver" name="silver" class="btn btn-primary mb-3">Silver</button>
    </div>
}
@using (Html.BeginForm("Platinum", "Subscription", FormMethod.Post, new { @id = "platinumForm", role = "form" }))
{
    <div class="mb-3">
        <button type="submit" id="platinum" name="platinum" class="btn btn-primary mb-3">Platinum</button>
    </div>
}