﻿@model SubscriptionViewModel
@{
    ViewData["Title"] = "Billing Info";
}
<div class="text-center">
    <h1 class="display-4">Billing Info</h1>
</div>
@using (Html.BeginForm("AddCardDetails", "Subscription", FormMethod.Post, new { @id = "AddBillingAddressForm", role = "form" }))
{

    @Html.HiddenFor(m => m.PlanCode)
    @Html.HiddenFor(m => m.AddressLine2)
    @Html.HiddenFor(m => m.PlanDescription)
    @Html.HiddenFor(m => m.Amount)
    @Html.HiddenFor(m => m.CompanyCode)
    @Html.HiddenFor(m => m.CurrencyCode)
    @Html.HiddenFor(m => m.TaxCode)
<div class="mb-3">
    @Html.LabelFor(m => m.AccountId, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.AccountId, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.AddressLine1, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.City, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.State, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Zip, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
</div>
<div class="mb-3">
    @Html.LabelFor(m => m.Country, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
</div>
<div class="mb-3">
    <button type="submit" id="submit" name="submit" class="btn btn-primary mb-3">Submit</button>
</div>
}
