﻿@using System.Net
@model BillingViewModel
@{
    ViewData["Title"] = "Billing Info";
}
<style type="text/css">
    .three-d-secure-auth-container {
        display: none;
        height: 400px;
        width: 100%;
    }

        .three-d-secure-auth-container div {
            height: 100%;
        }

    .three-d-secure-submitting-messagge {
        display: none;
    }

    .show-success-message {
        display: none;
    }

    .show-failure-message {
        display: none;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Credit Card Details</h1>
</div>
@using (Html.BeginForm("SubscribeToPlan", "Home", FormMethod.Post, new { @id = "CardDetailsPage", role = "form" }))
{
    @Html.HiddenFor(m => m.FirstName, new { data_recurly = "first_name" })
    @Html.HiddenFor(m => m.LastName, new { data_recurly = "last_name", id = "last_name" })
    @Html.HiddenFor(m => m.AddressLine1, new { data_recurly = "address1" })
    @Html.HiddenFor(m => m.AddressLine2, new { data_recurly = "address2" })
    @Html.HiddenFor(m => m.City, new { data_recurly = "city" })
    @Html.HiddenFor(m => m.Country, new { data_recurly = "country" })
    @Html.HiddenFor(m => m.State, new { data_recurly = "state" });
    @Html.HiddenFor(m => m.Zip, new { data_recurly = "postal_code" })
    @Html.HiddenFor(m => m.Token, new { id = "token", data_recurly = "token" })
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.RecurlyPrivateKey)
    <div class="mb-3">
        <label for="Card_Number" class="form-label">Credit Card Number</label>
        <span id="recurly-cardnumber-element"></span>
    </div>
    <div class="mb-3">
        <label for="Card_Number">Expiration Month</label>
        <span id="recurly-cardmonth-element"></span>
    </div>
    <div class="mb-3">
        <label for="Card_Number">Expiration Year</label>
        <span id="recurly-cardyear-element"></span>
    </div>
    <div class="mb-3">
        <label for="Card_Number">CVV</label>
        <span id="recurly-cardcvv-element"></span>
    </div>
    <div class="mb-3">
        <button type="submit" id="submit" name="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
    <div id="recurly-elements">

    </div>
    <div id="successMessage" class="show-success-message"><h1>Subscription created successfully</h1></div>
    <div id="failureMessage" class="show-failure-message"><h1>Failed to create subscription</h1></div>
    <div class="three-d-secure-auth-container"></div>
}
<script>
    $(document).ready(function () {
        var successMessageContainer = $('.show-success-message');
        var failureMessageContainer = $('.show-failure-message');
        recurly.configure('@Model.RecurlyPrivateKey'); //staging
        //recurly.configure('ewr1-fs4hBSdzTXhlAPTdsbNnu7'); //Production
        const elements = recurly.Elements();
        const CardCvvElement = elements.CardCvvElement();
        CardCvvElement.attach('#recurly-cardcvv-element');
        const CardMonthElement = elements.CardMonthElement();
        CardMonthElement.attach('#recurly-cardmonth-element');
        const CardNumberElement = elements.CardNumberElement();
        CardNumberElement.attach('#recurly-cardnumber-element');
        const CardYearElement = elements.CardYearElement();
        CardYearElement.attach('#recurly-cardyear-element');

        document.querySelector('#CardDetailsPage').addEventListener('submit', function (event) {
            const form = this;
            event.preventDefault();
            recurly.token(elements, form, function (err, token) {

                if (err) {
                    // handle error using err.code and err.fields
                }
                else {
                    // recurly.js has filled in the 'token' field, so now we can submit the form to your serverfunction submit(){
                    var data = {
                        FirstName: '@WebUtility.HtmlEncode(Model.FirstName)',
                        LastName: '@WebUtility.HtmlEncode(Model.LastName)',
                        Token: $('#token').val(),
                        AccountId: '@Model.AccountId',
                        City: '@WebUtility.HtmlEncode(Model.City)',
                        Country: '@WebUtility.HtmlEncode(Model.Country)',
                        Currency: 'SEK',
                        Zip: '@WebUtility.HtmlEncode(Model.Zip)',
                        State: '@WebUtility.HtmlEncode(Model.State)',
                        AddressLine1: '@WebUtility.HtmlEncode(Model.AddressLine1)',
                        AddressLine2: '@WebUtility.HtmlEncode(Model.AddressLine2)',
                        Email: '@WebUtility.HtmlEncode(Model.Email)',
                        PlanCode: '@Model.PlanCode'
                    };
                    $.post("/Home/SubscribeToPlan", { billingViewModel: data }, function (data, status, xhr) {
                        failureMessageContainer.hide();
                        successMessageContainer.show();
                        })
                        .fail(function (response) {
                            failureMessageContainer.show();
                            successMessageContainer.hide();
                            var jsonstring = JSON.stringify(response);
                            if (JSON.parse(jsonstring).responseJSON !== 'null' && JSON.parse(jsonstring).responseJSON !== 'undefined') {
                                var threeDTokenId = JSON.parse(jsonstring).responseJSON.threeDSecureActionTokenId;
                                console.log(threeDTokenId);
                                var container = $('.three-d-secure-auth-container');
                                const risk = recurly.Risk();
                                const threeDSecure = risk.ThreeDSecure({ actionTokenId: threeDTokenId });

                                threeDSecure.on('error', error);
                                threeDSecure.on('token', function (token) {
                                    container.hide();
                                    var dataNew = {
                                        FirstName: '@WebUtility.HtmlEncode(Model.FirstName)',
                                        LastName: '@WebUtility.HtmlEncode(Model.LastName)',
                                        Token: $('#token').val(),
                                        ThreeDSecureActionResultTokenId: token.id,
                                        AccountId: '@Model.AccountId',
                                        City: '@WebUtility.HtmlEncode(Model.City)',
                                        Country: '@WebUtility.HtmlEncode(Model.Country)',
                                        Currency: 'SEK',
                                        Zip: '@WebUtility.HtmlEncode(Model.Zip)',
                                        State: '@WebUtility.HtmlEncode(Model.State)',
                                        AddressLine1: '@WebUtility.HtmlEncode(Model.AddressLine1)',
                                        AddressLine2: '@WebUtility.HtmlEncode(Model.AddressLine2)',
                                        Email: '@WebUtility.HtmlEncode(Model.Email)',
                                        PlanCode: '@Model.PlanCode'
                                    };

                                    $.post("/Home/SubscribeToPlan",
                                            { billingViewModel: dataNew },
                                        function (data, status, xhr) {
                                            failureMessageContainer.hide();
                                            successMessageContainer.show();
                                                //debugger;
                                            })
                                        .fail(function (response) {
                                            failureMessageContainer.show();
                                            successMessageContainer.hide();
                                        });
                                    });
                                threeDSecure.attach(container[0]);
                                container.show();
                            }
                        });
                }
            });
        });
    });
    function error (err) {
        if (err.fields) {
            $('#errors').text('The following fields appear to be invalid: ' + err.fields.join(', '));
            $.each(err.fields, function (i, field) {
                $('[data-recurly=' + field + ']').addClass('error');
            });
        } else if (err.message) {
            $('#errors').text(err.message);
        }
        $('button').prop('disabled', false);
    }
</script>
